<p class="copyright"> <span id="footer-text">&copy; 2014 Kumu Inc.</span></p>


<div class="socials">
  <a class="social twitter" href="https://twitter.com/kumupowered" target=“_blank">Twitter</a>
  <a class="social facebook" href="https://www.facebook.com/kumupowered" target=“_blank">Facebook</a>
  <a class="social linkedin" href="https://www.linkedin.com/company/kumu" target=“_blank">LinkedIn</a>
  <a class="social github" href="http://github.com/kumu" target=“_blank">GitHub</a>
  <a class="social vimeo" href="http://vimeo.com/kumu" target=“_blank">Vimeo</a>
</div>
