<!-- Navigation here -->
<div class="site-navigation">
	<h4 class="navigation-title-text">The Kumu Blog</h4>

	<nav class="sitenav-main" id="nav" role="navigation">

		<ul id="menu-main">
			<li><a href="/about">About us</a></li>
			<li><a href="http://kumu.io/manifesto">Manifesto</a></li>
			<li><a href="https://kumu.io/signin">Sign in</a></li>
			<li><a href="https://kumu.io/signup">Sign up</a></li>
		</ul>


	</nav>



</div>
